__pycache__/
*.pyc
*.pyo
*.o
*.ko
*.cmd
*.mod.c
Module.symvers
modules.order
.tmp_versions/
out/
build/
dist/
backups/
device-dumps/
*.wav
*.UPG
*.lnk
*.bin
*.tbl
!samples/filter-strategy/*.bin
!samples/sample-autoeq.txt
!scripts/*.cmd
!tools/test/bl3.wav
!samples/autoeq/**/*.bin
!samples/autoeq/**/*.tbl
